---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body data-spy="scroll" data-target="#ftco-navbar-spy" data-offset="0">
  <!-- Navuigation Start -->
  <!-- Header Start -->
  <nav class="navbar navbar-expand-lg fixed-top main-nav main-nav-black hide-nav" id="main-nav">  
    <a class="navbar-brand" href="{{site.baseurl}}">
      <img src="{{site.logo | relative_url}}" alt="{{site.title}}" class="img-fluid w-logo" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
      aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu navbar-toggler"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbars">
      {% include navigation.html %}
    </div>
  </nav>
  <!-- Navigation End -->

  <div class="main-content">
    <div class="container">
      <section class="section portfolio-2">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
              <span class="h5 text-color text-uppercase">
                some of my work
              </span>
              <h3 class="mb-5 mt-2">These projects offer <span class="text-color">a glimpse</span> into my work</h3>
            </div>
          </div>

          <div class="row justify-content-center align-items-center text-center mb-5">
            <div class="col-12">
              <div class="btn-group btn-group-toggle " data-toggle="buttons">
                <label class="btn border-0 active">
                  <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
                </label>
                {% assign categories = site.portfolios| map: 'categories' | join: ',' | split: ',' | uniq %}
                {% for category in categories %}
                <label class="btn border-0">
                  <input type="radio" name="shuffle-filter" value="{{ category | downcase | slugify }}" />{{ category }}
                </label>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="row shuffle-wrapper portfolio-gallery">
            {% include portfolio_loop.html %}
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>