<nav class="navbar navbar-expand-lg main-nav main-nav-black fixed-top" id="main-nav">  
    <a class="navbar-brand" href="{{site.baseurl}}">
      <!--img src="{{site.logo | relative_url}}" alt="{{site.title}}" class="img-fluid w-logo" /-->
      <span class="text-color text-little-big">@javiscript13</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
      aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu navbar-toggler"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbars">
      {% include navigation.html %}
    </div>
  </nav>
